/*---GENERAL---*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


/*---NAVBAR CONTENT---*/

.navbar {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #EEEEEE;
}
  
.navbar-link {
    flex: 1;
    text-align: center;
    margin: 5px 0;
    float: left;
}

.navbar-item {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: #70767e;
}

ul {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #949494;
}

.header-logo {
    max-width: 100%;
    height: auto;
    float: left;
    width: 58px;
}


/*---BACKGROUND CONTENT---*/

body {
    background: url("https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/hangman%20background.png");
    background-size: 30%;
    background-position-y: center;
    background-position-x: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
}


/*---HOME PAGE CONTENT---*/

.menu_play {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #373A40;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.go_play {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header_play {
    margin-top: 120px;
}

.button_play {
    margin-top: 105px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #98beff;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: 2px solid white;
}

.button_play:hover {
    background-color: #6d87b5;
}

.button_play:active {
    background-color:#5d5d5d;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.image_play {
    width: 300px;
    height: 300px;
}

.menu_rules {
    display: flex;
    justify-content: space-evenly;
    background-color: #373A40;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;

}

.learn_rules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header_rules {
    margin-top: 120px;
}

.button_rules {
    margin-top: 110px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ea1919;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: 2px solid white;
}

.button_rules:hover {
    background-color: #8e3e3e;
}

.button_rules:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.image_rules {
    width: 300px;
    height: 300px;
}


/*---RULE PAGE CONTENT---*/

.rule-sheet {
    color: white;
    background-color: #373A40;
    padding: 30px;
    text-align: center;
    line-height: 25px;
    font-size: small;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 80px;
}

.rule-sheet {
    color: white;
    font-size: 20px;
}

.headline {
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
}


.content {
    flex: 1;
}


/*---LOGIN PAGE CONTENT---*/

.login-form {
    background-color: #373A40;
    margin-top: 50px;
    margin-bottom: 120px;
    color: white;
}

.login-form h1 {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 0;
}

.login-input {
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    margin-top: 0;
}

.login-input p {
    font-size: 19px;
    padding-bottom: 25px;
}

.submit-button {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #98beff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 12px 22px;
    border: 2px solid white;
}

.submit-button:hover {
    background-color: #728ec0;
}

.submit-button:active {
    background-color: #7b9ace;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.submit-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.login-msg {
    position: fixed;
    top: 80px;
    width: 100%;
    text-align: center;
    color: black;
    background: lightgreen;
    font-size: 10px;
    font-weight: bolder;
}


/*---GAME PAGE CONTENT---*/

.word_figure {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #373A40;
}

.print-word {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom:25px;
    color: rgb(255, 255, 255);
    background-color: #373A40;
    border: 2px solid black;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.placeholder {
    width: 300px;
    border: 2px black solid;
}

.hangman {
    width: 300px;
    border: 2px black solid;
}

.input_hints {
    display: flex;
    background-color: rgb(247, 247, 247);

}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #373A40;
    margin-top: 100px;

}

.check-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
    border-radius: 15px;
    border: 2px #96cde9 solid;
    color: rgb(167, 167, 167);
}

.button-input {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px;
    background-color: #98beff;
    border: 2px white solid;
    box-shadow: 0 9px #8a8a8a;
    padding: 8px 16px;
}

.button-input:hover {
    background-color: #728ec0;
}

.button-input:active {
    background-color: #7b9ace;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.previous-guess {
    height: 300px;
    width: 200px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border: 2px solid black;
}

.previous-guess p {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}

.previous-guess ul {
    font-size: 14px;
    font-style: italic;    
}

.game-notis {
    text-align: center;
    position: relative;
    top: 28px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #86fe62;
    color: rgb(72, 72, 72);
    padding-top: 5px;
    padding-bottom: 5px;
}

.new-game {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.endgame-button {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: 2px white solid;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 12px 22px;
}

.engame-button:hover {
    background-color: #910505;
}

.endgame-button:active {
    background-color: #810000;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.hint-class {
    display: flex;
    justify-content: space-evenly;
}

.joker-one {
    margin: 15px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1900ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 8px 18px;
    border: 2px black solid;
}

.joker-one:hover {
    background-color: #2300af;
}

.joker-one:active {
    background-color: #21028e;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.joker-two {
    margin: 15px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00ff2f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 8px 18px;
    border: 2px black solid;
}

.joker-two:hover {
    background-color: #43d200;
}

.joker-two:active {
    background-color: #1fa102;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}



/*---FOOTER PAGE CONTENT---*/

footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #DC5F00;
    text-align: center;
    color: white;
}

footer p {
    margin: 0; 
}


/*---MOBILE OPTIMIZATION---*/

/*---MOBILE GENERAL---*/

@media (max-width: 600px){
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}

/*---MOBILE NAVBAR---*/

@media (max-width: 600px) {
    .navbar-item {
        font-size: 15px;
        padding: 10px;
    }

    .header-logo {
        height: 40px;
    }

}

/*---MOBILE HOME---*/

@media (max-width: 600px) {

    .login-msg {
        margin: 0;
        top: 25px;
    }
    .menu_play {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header_play {
        margin-top: 48px;
        margin-left: 0; 
        margin-right: 15px;
        margin-bottom: 0;

        font-size: 12px;
    }

    .go_play {
        margin: 0;
    }

    .content_play {
        margin: 0;
    }

    .button_play {
        margin-top: 40px;
        margin-left: 0; 
        margin-right: 35px;
        margin-bottom: 0;

        padding: 5px 10px;
        font-size: 12px;
        box-shadow: 0 4px;
    }

    .image_play {
        height: 150px;
        width: 150px;
    }

    .menu_rules {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .image_rules {
        height: 150px;
        width: 150px;
    }

    .header_rules {
        margin-top: 49px;
        margin-left: 35px;
        margin-right: 5px;
        font-size: 12px;
    }

    .button_rules {
        margin-top: 40px;
        margin-left: 15px; 
        margin-right: 0;
        margin-bottom: 0;

        padding: 5px 10px;
        font-size: 12px;
        box-shadow: 0 4px;
    }

}

/*---MOBILE GAME---*/

@media (max-width: 600px) {
    .word_figure {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 25px;
        margin-left: 0;
        margin-right: 0;
    }
        
    .placeholder {
        height: 200px;
        width: 200px;
        margin-right: 0;
        margin-left: 42px;
    }

    .hangman {
        height: 200px;
        width: 200px;
        margin-right: 0;
        margin-left: 42px;
    }

    .previous-guess {
        height: 50px;
        width: 200px;
        margin-right: 0;
        margin-left: 42px;
    }

    .user-form {
        margin: 0;
    }

    .print-word {
        padding-top: 15px;
        padding-bottom: 15px;
        max-width: 600px;
        font-size: 15px;
    }

    .new-game {
        margin-top: 50px;
    }
}