/*---NAVBAR CONTENT---*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: white;
}
  
.navbar-links {
    list-style-type: none;
    border-radius: 15px;
    border: 2px solid black;
}
  
.navbar-links li {
    display: inline-block;
    margin-right: 10px; 
}
  
.navbar-links li:last-child {
    margin-right: 0; 
}
  
.navbar-links li a {
    text-decoration: none;
    color: #000;
}
  
.logo {
    float: right;
    vertical-align: top;
    width: 150px;
    height: 50px; 
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 50px;
    line-height: 80px;
}

/*---BACKGROUND CONTENT---*/


body {
    background: url("https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/background.jpg");
    background-size: 80%;
    background-position-y: center;
    background-position-x: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*---HOME PAGE CONTENT---*/


.menu {
    background-color: white;
    margin: 90px 15px;
    border-radius: 15px;
    border: 10px solid rgb(0, 0, 0);
}

.menu p {
    margin: 110px 50px;
}

ul {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #949494;
}

.button {
    position: absolute;
    top: 36.6%;
    right: 8%;
    padding: 15px 25px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #98beff;
    border: black;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #6d87b5;
}

.button:active {
    background-color:#5d5d5d;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.button1 {
    position: absolute;
    top: 54%;
    right: 8%;
    padding: 15px 25px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ea1919;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button1:hover {
    background-color: #8e3e3e;
}

.button1:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}


/*---RULE PAGE CONTENT---*/


.rule-sheet {
    color: black;
    background-color: white;
    margin: 110px 15px;
    padding: 30px;
    text-align: center;
    line-height: 25px;
    font-size: small;
    font-weight: bolder;
    border-radius: 15px;
    border: 10px solid rgb(0, 0, 0);
}

.headline {
    color: black;
    font-size: 18px;
    padding-bottom: 30px;
    text-decoration: underline;

}


/*---LOGIN PAGE CONTENT---*/


.login-form {
    background-color: white;
    margin: 110px 15px;
    border-radius: 15px;
    border: 10px solid rgb(0, 0, 0);
}

.login-input {
    color: black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 25px
}

.login-input p {
    font-size: 19px;
    padding-bottom: 25px;
}

.submit-button {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #98beff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 12px 22px;
}

.submit-button:hover {
    background-color: #728ec0;
}

.submit-button:active {
    background-color: #7b9ace;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.submit-input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.login-msg {
    position: fixed;
    top: 80px;
    width: 100%;
    text-align: center;
    color: black;
    background: lightgreen;
    font-size: 10px;
    font-weight: bolder;
}


/*---GAME PAGE CONTENT---*/

.game-display {
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 500px;
}

.game-display h1 {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 15px;
}

.game-display h3 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.hangman {
    border: 1px black solid;
    width: 30%;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.guess-input {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 15px;

}


.check-button {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #98beff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 10px 20px;
}

.check-button:hover {
    background-color: #728ec0;
}

.check-buttont:active {
    background-color: #7b9ace;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.check-input {  
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: grey;
    text-align: center;
    border-radius: 15px;
    border: 2px black solid;
    padding: 10px 6px;
}

.previous-guess {
    font-size: 9px;
    margin-top: 20%;
    margin-right: 50%;
    margin-left: 15px;
    padding-bottom: 15px;
}

.endgame-button {
    position: fixed;
    bottom: 100px;
    right: 55px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 12px 22px;
}

.engame-button:hover {
    background-color: #d30000;
}

.endgame-button:active {
    background-color: #be0000;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.joker-one {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1900ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 8px 18px;
}

.joker-one:hover {
    background-color: #2300af;
}

.joker-one:active {
    background-color: #21028e;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.joker-two {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00ff2f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 8px 18px;
}

.joker-two:hover {
    background-color: #43d200;
}

.joker-two:active {
    background-color: #1fa102;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}



/*---FOOTER PAGE CONTENT---*/


footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color:#000000;
    color: rgb(255, 255, 255);
    text-align: center;
}

footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: x-small;
    padding: 25px;
}
