/*---NAVBAR CONTENT---*/

.navbar {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: white;
}
  
.navbar-links {
    list-style-type: none;
}
  
.navbar-links li {
    display: inline-block;
    margin-right: 10px; 
}
  
.navbar-links li:last-child {
    margin-right: 0; 
}
  
.navbar-links li a {
    text-decoration: none;
    color: #000;
}
  
.logo {
    float: right;
    vertical-align: top;
    width: 150px;
    height: 50px; 
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 50px;
    line-height: 80px;
}

/*---BACKGROUND CONTENT---*/


body {
    background: url("https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/hangman%20background.png");
    background-size: 30%;
    background-position-y: center;
    background-position-x: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/*---HOME PAGE CONTENT---*/


.menu {
    background-color: white;
    margin: 90px 15px;
    border-radius: 15px;
    border: 10px solid rgb(0, 0, 0);
}

.menu p {
    margin: 110px 50px;
}

ul {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #949494;
}

.button {
    position: absolute;
    top: 36.6%;
    right: 8%;
    padding: 15px 25px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #98beff;
    border: black;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #6d87b5;
}

.button:active {
    background-color:#5d5d5d;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.button1 {
    position: absolute;
    top: 54%;
    right: 8%;
    padding: 15px 25px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ea1919;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button1:hover {
    background-color: #8e3e3e;
}

.button1:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}


/*---RULE PAGE CONTENT---*/


.rule-sheet {
    color: black;
    background-color: white;
    margin: 110px 15px;
    padding: 30px;
    text-align: center;
    line-height: 25px;
    font-size: small;
    font-weight: bolder;
    border-radius: 15px;
    border: 10px solid rgb(0, 0, 0);
}

.headline {
    color: black;
    font-size: 18px;
    padding-bottom: 30px;
    text-decoration: underline;

}


/*---LOGIN PAGE CONTENT---*/


.login-form {
    background-color: white;
    margin: 110px 15px;
    border-radius: 15px;
    border: 10px solid rgb(0, 0, 0);
}

.login-input {
    color: black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 25px
}

.login-input p {
    font-size: 19px;
    padding-bottom: 25px;
}

.submit-button {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #98beff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 12px 22px;
}

.submit-button:hover {
    background-color: #728ec0;
}

.submit-button:active {
    background-color: #7b9ace;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.submit-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.login-msg {
    position: fixed;
    top: 80px;
    width: 100%;
    text-align: center;
    color: black;
    background: lightgreen;
    font-size: 10px;
    font-weight: bolder;
}


/*---GAME PAGE CONTENT---*/

.word_figure {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
    margin-top: 50px;

}

.print-word {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 20px;
    margin-top: 220px;
    letter-spacing: 5px;
}

.placeholder {
    width: 300px;
    margin-top: 80px;
    margin-bottom: 50px;
    border: 2px #96ADE9 dashed;
}

.hangman {
    width: 300px;
    margin-top: 80px;
    margin-bottom: 50px;
    border: 2px #96ADE9 dashed;
}


/*add unknown-word and game-progress*/

.input_hints {
    display: flex;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 50px;
}

/*add user-input, check-input and button-input*/

.user-form {
    margin-left: 150px;;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.check-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
    border-radius: 15px;
    border: 2px #96ADE9 dashed;
    color: rgb(167, 167, 167);
    margin-right: 50px;
}

.button-input {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ba5757;
    background-color: #96ADE9;
    border-radius: 15px;
    box-shadow: 0 9px #8a8a8a;
    padding: 15px 25px;

}

.button-input:hover {
    background-color: #6881ab;
}

.button-input:active {
    background-color: #7b9ace;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.button-input {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px;
    border: 2px black solid;
    padding: 8px 16px;
}

.previous-guess {
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 25px;
    height: 150px;
    width: 150px;
    text-align: center;
    border: 2px #96ADE9 dashed;
}

.previous-guess p {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
    
}

.previous-guess u1 {
    font-size: 14px;
    font-style: italic;    
}

.game-notis {
    text-align: center;
    position: relative;
    top: 28px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #86fe62;
    color: rgb(72, 72, 72);
    padding-top: 5px;
    padding-bottom: 5px;
}


.endgame-button {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 12px 22px;
}

.engame-button:hover {
    background-color: #d30000;
}

.endgame-button:active {
    background-color: #be0000;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.hint-class {
    display: flex;
    justify-content: space-evenly;
}

.joker-one {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1900ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 8px 18px;
}

.joker-one:hover {
    background-color: #2300af;
}

.joker-one:active {
    background-color: #21028e;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}

.joker-two {
    
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00ff2f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 8px 18px;
}

.joker-two:hover {
    background-color: #43d200;
}

.joker-two:active {
    background-color: #1fa102;
    box-shadow: 0 5px #666;
    transform: translateY(8px); 
}



/*---FOOTER PAGE CONTENT---*/




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }

