<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
    <header>
      <ul class="navbar">
        <img class="header-logo" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/new%20hangman%20logo%20.png" alt="hangman with crossed eyes.">
        <li cass="navbar-link"><a class="navbar-item" href="/home">HOME</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/login">LOGIN</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/game">GAME</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/rules">RULES</a></li>
      </ul>
    </header>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
            <p class="game-notis">{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <div class="word_figure">
        {% if session.tries == 6 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/H.png" alt="6 tries left">
  
        {% elif session.tries == 5 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/A.png" alt="5 tries left">
  
        {% elif session.tries == 4 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/N.png" alt="4 tries left">
  
        {% elif session.tries == 3 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/G.png" alt="3 tries left">
  
        {% elif session.tries == 2 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/M.png" alt="2 tries left">
  
        {% elif session.tries == 1 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/A2.png" alt="1 tries left">
  
        {% elif session.tries == 0 %}
          <img class="hangman" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/N.png" alt="0 tries left">

        {% else %}
          <img class="placeholder" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/PLACEHOLDER.png" alt="Hangman Logo">
        {% endif %}

      <div class="previous-guess">
        <p>Cross off previous guesses.</p>
        <u1>
          {% for guess in session.guessed_letters %}
            <li>{{guess}},</li>
          {% endfor %}
        </u1>
      </div>

      <div class="user-input">
        <form class="user-form" action="#" method = 'post'>
          <p><input class="check-input" type = 'text' name = 'guess' placeholder='letter or word' /></p>
          <p><input class="button-input" type = 'submit' value = 'CHECK' /></p>
        </form>

        <div class="hint-class">
          {% if session.value == 2 and session.hint_used == False %}
            <form action="{{url_for('get_hint')}}" method = "post">
              <p><input class="joker-one" type="submit" value = 'First Joker'></p>
            </form>
         
          {% elif session.value == 3 and session.hint_2_used == False %}
            <form action="{{url_for('get_hint2')}}" method = "post">
              <p><input class="joker-two" type="submit" value = 'Second Joker'></p>
            </form>
          
          {% else %}
            
          {% endif %}
        </div>
      </div> 
      
    </div>
    <div class="unknown-word">
      <p class="print-word">{{unknown_word}}</p>
    </div>

    <div class="new-game">
      <form action="{{url_for('endgame')}}" method = "post">
        <p><input class='endgame-button' type="submit" value = 'NEW GAME'></p>
      </form>
    </div>  
</body>


<footer>
  <div class="footer">
    <p>@madebyJANDO</p>
  </div>
</footer>