<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/game">GAME</a></li>
    </ul>
    <div class="welcome">
      <section>
        <img src="pictures/hangman-game.png" alt="logo" style="width:300px" />
        <article class="item">
          <p class="words">This text will be replaced later, as of now its only purpose is to see how more than just one line of text will look with the button.</p>
          <p class="clickable"><button type="button" class="button">PLAY</button></p>
          <p class="words1">This text will be replaced NEVER, as of now its only purpose is to see how more than just one line of text will look with the button.</p>
          <p class="clickable"><button type="button" class="button1">RULES</button></p>
        </article>
      </section> 
    </div>
</body>
<footer>
  <p>Bomboclat footer caz</p>
</footer>
</html>

