<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
    <ul class="navbar">
      <img class="header-logo" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/new%20hangman%20logo%20.png" alt="hangman with crossed eyes.">
      <li cass="navbar-link"><a class="navbar-item" href="/home">HOME</a></li>
      <li cass="navbar-link"><a class="navbar-item"  href="/login">LOGIN</a></li>
      <li cass="navbar-link"><a class="navbar-item"  href="/game">GAME</a></li>
      <li cass="navbar-link"><a class="navbar-item"  href="/rules">RULES</a></li>
    </ul>
  <div class="login-msg">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
  <div class="menu">
    <p>Familiar with the Rules and ready to play? Press PLAY.</p>
    <p><button type="button" class="button">PLAY</button></p>
    <p>New to Hangman and not sure how to play? Press RULES.</p>
    <p><button type="button" class="button1">RULES</button></p>
  </div>
</body>
<footer>
  <div class="footer">
    <p>@madebyJANDO</p>
  </div>
</footer>
</html>

