<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
  <div class="wrapper">
    <header>
      <ul class="navbar">
        <img class="header-logo" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/new%20hangman%20logo%20.png" alt="hangman with crossed eyes.">
        <li cass="navbar-link"><a class="navbar-item" href="/home">HOME</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/login">LOGIN</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/game">GAME</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/rules">RULES</a></li>
      </ul>
    </header>
    <div class="login-msg">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for msg in messages %}
                  <p>{{msg}}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    <div class="menu_play">
      <div class="go_play">
        <h3>Ready to play?</h3>
        <p><button type="button" class="button_play">PLAY</button></p>
      </div>
      <div class="content_play">
        <img class="image_play" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/image_play.png" alt="hangman figure">
      </div>
    </div>

    <div class="menu_rules">
      <div class="content_rules">
        <img class="image_rules" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/learn_rules.png" alt="three question marks">
      </div>
      <div class="learn_rules">
        <h3>Want to learn the rules?</h3>
        <p><button type="button" class="button_rules">RULES</button></p>
      </div>
    </div>
    <footer>
      <p>@madebyJANDO</p>
    </div>
    </footer>
  </div>
</body>
</html>

