<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
    <div class="navbar">
      <img class='logo' src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/new_logo.png" alt="hangman logo">
      <ul class="navbar-links">
        <li><a href="/home">HOME</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/game">GAME</a></li>
        <li><a href="/rules">RULES</a></li>
      </ul>
    </div>
    <div class="rule-sheet">
        <h1 class="headline">HANGMAN GAME - RULES</h1>
        <p>The object of hangman is to guess the secret word before the stick figure is hung.</p>
        <br>
        <p>Players select letters to narrow the word down.</p>
        <br>
        <p>The Gameplay continues until the player guesses the word or they run out of guesses.</p>
    </div>
</body>
<footer>
    <p>@MADEBYJANDO</p>
</footer>
</html>