<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
    <ul class="navbar">
      <img class="header-logo" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/new%20hangman%20logo%20.png" alt="hangman with crossed eyes.">
      <li cass="navbar-link"><a class="navbar-item" href="/home">HOME</a></li>
      <li cass="navbar-link"><a class="navbar-item"  href="/login">LOGIN</a></li>
      <li cass="navbar-link"><a class="navbar-item"  href="/game">GAME</a></li>
      <li cass="navbar-link"><a class="navbar-item"  href="/rules">RULES</a></li>
    </ul>
    <div class="login-msg">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for msg in messages %}
                  <p>{{msg}}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    <div class="rule-sheet">
        <h1 class="headline">HANGMAN GAME - RULES</h1>
        <p>The object of hangman is to guess the secret word before the stick figure is hung.</p>
        <br>
        <p>Players select letters to narrow the word down.</p>
        <br>
        <p>The Gameplay continues until the player guesses the word or they run out of guesses.</p>
    </div>
</body>
<footer>
  <div class="footer">
    <p>@madebyJANDO</p>
  </div>
</footer>
</html>