<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}"/>
  <title>{% block title %}Joshua's Hangman{% endblock %} </title>
</head>
<body>
  <div class="wrapper">
    <header>
      <ul class="navbar">
        <img class="header-logo" src="https://dasuvbstlohdvyzcvlkb.supabase.co/storage/v1/object/public/pictures/new%20hangman%20logo%20.png" alt="hangman with crossed eyes.">
        <li cass="navbar-link"><a class="navbar-item" href="/home">HOME</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/login">LOGIN</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/game">GAME</a></li>
        <li cass="navbar-link"><a class="navbar-item"  href="/rules">RULES</a></li>
      </ul>
    </header>
      <div class="login-msg">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      <div class="rule-sheet">
          <h1 class="headline">HANGMAN GAME - RULES</h1>
          <p>Great to see you here Player! Welcome to HANGMAN GAME.</p>
          <p>The object of this game is to guess the unknown word before your stick figure is hung.</p>
          <p>You can only guess one single letter at a time and you get a total of 6 tries.</p>
          <p>After a couple wrong guesses you get the opportunity to select your first joker which will grant you the definition of the unknown word.</p>
          <p>After another wrong guess you unlock the second Joker which will uncover one random letter of the unknown word.</p>
          <p>Good luck and have fun testing your vocabulary!</p>
      </div>
      <footer>
        <div class="footer">
          <p>@madebyJANDO</p>
        </div>
      </footer>
  </div>
</body>
</html>