body {background-color: green;}

h1 {
    color: red;
    font-size: 25px;
}

.menu {
    width: 80%;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}